<h1>ログイン画面</h1>

<p>
    <% if !logged_in? %>
        <%= form_tag "/login", class: "new_session" do %>
            <%= text_field_tag :eth_message, "", readonly: true, class: "eth_message" %> <br />
            <%= text_field_tag :eth_address, "", readonly: true, class: "eth_address" %> <br />
            <%= text_field_tag :eth_signature, "", readonly: true, class: "eth_signature" %> <br />
        <% end %>
        <button class="eth_connect">メタマスクでログイン</button>
        <br/><br/>
        <%= link_to "サインアップ", signup_path %>
        または
        <%= link_to "ホームへ", root_path %>
    <% else %>
        こんにちは<strong><%= current_user.username %></strong>
        あなたのアドレス：<code><%= current_user.eth_address.slice(0, 3) + "…" + current_user.eth_address.slice(-3, 3)  %></code>
        <br /><br />
        <%= link_to "ログアウト", logout_path, method: :destroy %>
        または
        <%= link_to "ホームへ", root_path %>?
    <% end %>
</p>

<%= javascript_pack_tag "sessions_new" %>